@import "_variables.scss";
@import "_fonts.scss";
@import "_tools.scss";

.footer {
    $fontSize: $BASE_FONT_SIZE;
    $padding: $fontSize * 0.6;
    padding-top: $padding;
    padding-bottom: $padding;
    background-color: $BACKGROUND_COLOR_DARKER;
    text-align: center;
    font-size: $fontSize;
}