.bb-display-inline {
    display: inline;
}

.bb-strong,
.bb-strong > div {
    font-weight: 400;
}

.bb-italic,
.bb-italic > div {
    font-style: italic;
}

.bb-underlined,
.bb-underlined > div {
    text-decoration: underline;
}

.bb-strikethrough,
.bb-strikethrough > div {
    text-decoration: line-through;
}
