* {
    font-family: Roboto;
    font-weight: 200;
    outline: 0 !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    background-color: #E6E6E6;
    font-size: 16px;
    height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
}

h2 {
    margin: 0px;
    font-size: 20px;
    width: 100%;
    background-color: #422442;
    padding: 8px 0px;
    color: #FFCD02;
    font-weight: 200;
    padding-left: 16px;
}

h3 {
    font-size: 20px;
    width: 100%;
    font-weight: 200;
    padding: 8px 16px !important;
}

a:active,
a:visited,
a:link,
a:hover,
a {
    color: #FFCD02 !important;
}

textarea {
    width: 100%;
    background-color: #e6e6e6;
    border: 1px solid rgba(94, 51, 94, 0.2);
    font-weight: 400;
    font-size: 16px;
    resize: none;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

