@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

.fas {
    font-size: $BASE_FONT_SIZE;
}

.icon-settings:after {
    content: 'C';
}

.icon-cake:after {
    content: 'Y';
}

.icon-paper:after {
    content: 'D';
}

.icon-bulb:after {
    content: 'l';
}

.icon-compass:after {
    content: 'N';
}

.icon-ask:after {
    content: 'Q';
}

.icon-bookmark:after {
    content: 'B';
}

.icon-key:after {
    content: 'K';
}

.icon-copy:after {
    content: 'e';
}

.icon-viewfinder:after {
    content: '@';
}

.icon-magnifier:after {
    content: 'M';
}

.icon-lightning:after {
    content: 'r';
}

.icon-warning:after {
    content: '!'
}

.icon-pen:after {
    content: 'w'
}

.icon-folder:after {
    content: 'F'
}

.icon-arrow-up:after {
    content: 'u';
}

.icon-arrow-down:after {
    content: 'd';
}