@import "./_variables.scss";
@import "./_fonts.scss";
@import "./_tools.scss";
@import "./_generic.scss";
@import "./_editMenu.scss";
@import "./_navbar.scss";
@import "./_footer.scss";

.bb-tag {
    font-weight: 600;
}

.dropdown {
    z-index: 999999;
}

.dropdown .btn {
    background: none;
    border: none;
    color: $THEME_COLOR_TEXT;
    font-weight: 200;
    font-size: $BASE_FONT_SIZE;
    line-height: 24px;
    font-family: Roboto;
}

.dropdown-menu {
    background-color: #422442;
    color: $THEME_COLOR_TEXT;
    border: none;
    border-radius: 0px;
    padding: .25rem 0;
}

.dropdown-item {
    padding: 3px 0.8rem;
}

.dropdown-item:hover,
.dropdown-item:active {
    background-color: #5E335E;
}

.content {
    font-family: Roboto;
    font-weight: 400;
}

#preview-bb-content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    height: calc(100vh - 88px);
    background-color: #dedede;
    border: none;
    border-radius: 0;
    font-size: $BASE_FONT_SIZE;
    color: #422442;
}

.btn {
    border: none;

    &:hover, &:active {
        outline: none;
    }
}

.btn-primary {
    background-color: $THEME_COLOR_PRIMARY;
    color: $THEME_COLOR_TEXT;

    &:hover, &:active {
        background-color: $THEME_COLOR_ACTIVE;
        color: $THEME_COLOR_TEXT;
    }
}

.btn-danger {
    background-color: $DANGER;
    color: $THEME_COLOR_TEXT;

    &:hover, &:active {
        background-color: $DANGER_ACTIVE;
        color: $THEME_COLOR_TEXT;
    }
}

.alert-preview {
    background-color: $THEME_COLOR_SECOND;
    color: $THEME_COLOR_TEXT;
}

.text-danger {
    color: $DANGER;
}

.syntax-desc {
    line-height: 2;
}

h5 {
    $margin: 10px;
    color: $THEME_COLOR_PRIMARY;
    margin-top: $margin;
    margin-bottom: $margin;
}

.gui-edit-buttons {

}