@import "_variables.scss";
@import "_fonts.scss";
@import "_tools.scss";

.footer {
    $fontSize: $BASE_FONT_SIZE - 2;
    $padding: $fontSize * 0.3;
    padding-top: $padding;
    padding-bottom: $padding;
    background-color: $THEME_COLOR_SECOND;
    text-align: center;
    font-size: $fontSize;
    color: $THEME_COLOR_TEXT;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
