$BACKGROUND_COLOR: #EFEFEF;
$BACKGROUND_COLOR_DARKER: #e1e1e1;

$THEME_COLOR_TEXT: #fff;

$THEME_COLOR_PRIMARY: #95afc0;
$THEME_COLOR_ACTIVE: #7092a9;
$THEME_COLOR_SECOND: #535c68;

$DANGER: #ff7979;
$DANGER_ACTIVE: #eb4d4b;
$SUCCESS: #6ab04c;

$BASE_FONT_SIZE: 18px;
