$BACKGROUND_COLOR: #EFEFEF;
$BACKGROUND_COLOR_DARKER: #e1e1e1;
$THEME_COLOR_TEXT: #FFCD02;
$THEME_COLOR_PRIMARY: #422442;
$THEME_COLOR_LIGHT: #7a427a;
$THEME_COLOR_VERY_LIGHT: #d8bfd8;
$BASE_FONT_SIZE: 18px;
